* {
    border: 0;
    margin: 0;
    padding: 0;
}
:root {
    --sqrDimen : 90%;
    --sqrDimenForGrid : 32%
}
body {
    background-color: aqua;
    display: inline-block;
    position: absolute;
    left: 35%;
    top: 10%;
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
p {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
span {
    color: black;
}
#theBoard {
    height: 60vh;
    width: 60vh;
    display: grid;
    grid-template-columns: repeat(3,var(--sqrDimenForGrid));
    /* align-items: center;
    justify-content: center; */
   
} 
#gameOver {
    display: none;
    width: 50vw;
    height: 50vh;
    color: black;
    background-color: black;
    
 
}
.square {
    width: var(--sqrDimen);
    height: var(--sqrDimen);
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
#winner {
    color: white;
}
