* {
    border: 0;
    margin: 0;
    padding: 0;
    color: white;
}
:root {
    --sqrDimen : 90%;
    --sqrDimenForGrid : 32%;
    --fontsize : 50px;
}

body {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
button {
    position: absolute;
    bottom: 50px;
    width: 100px;
    height: 60px;
    color: black;
}
#toCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
}

#theBoard {
    width: 300px;
    height: 300px;
    padding: 4px 10px 10px 4px;
    background-color: black;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    position: relative;
}
#score {
    display: flex;
    width: 200px;
    height: 40px;
    background-color: aliceblue;
    color: black;
    align-items: center;
    justify-content: center;
}

.square {
    color: black;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square > p {
    color: black;
}
#gameOver {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-size: 200%;
}